/* head */
#main_header {
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    
    .header_above {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .header_logo {
        width: 60px;
    }

    .header_nav {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 20px 30px;
        width: 720px;
        max-width: 100%;
        background: #000;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 40px);
    }

    .header_nav_link {
        font-size: 20px;
        color: #fff;
        margin: 0 15px;
        padding: 5px 20px;
        position: relative;
        transition: all 0.4s ease-in-out;

        & span {
            position: relative;
        }
        
        &:hover span {
            color: #000;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 100%;
            border-radius: 20px;
            background: #fff;
        }

        &:hover::before {
            right: 0;
            transition: all 0.4s ease-in-out;
        }
    }
}